/* This used as counter to the effect which happen after navbar-fixed-top of Bootstrap */
body {
  padding-top: 70px;
}

img {
  width: 100%;
}

.feature .glyphicon {
  font-size: 32px;
  color: red;
}

.feature .fa {
  font-size: 32px;
  color: red;
}